@model TopicViewModel
@{
    ViewBag.Title = "Create topic";
    Layout = "~/Views/Shared/_TwoColLayout.cshtml";
}

@section main{
    <div class="c-form">
        @using (Html.BeginForm())
        {
            <div class="field">
                @Html.LabelFor(m => m.Name)
                @Html.TextBoxFor(m => m.Name)
            </div>
            <div class="field">
                @Html.LabelFor(m => m.Description)
                @Html.TextAreaFor(m => m.Description)
            </div>
            <div class="actions">
                <input type="submit" class="c-button" />
            </div>
        }
    </div>
}