html,
body {
  height: 100%;
}
body {
  font-family: Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
  color: #161925;
  line-height: 20px;
}
.navbar {
  background-color: #23395B;
  color: #FFFFFF;
}
.navbar .navbar-header {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.navbar .navbar-header a:link,
.navbar .navbar-header a:visited {
  color: #FFFFFF;
  padding: 20px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.navbar .navbar-header a:hover,
.navbar .navbar-header a:active,
.navbar .navbar-header a.current {
  background-color: #406E8E;
}
.navbar .navbar-header a {
  color: #FFFFFF;
}
.title {
  margin-top: 0;
}
.body-content {
  min-height: 100%;
  margin-bottom: -150px;
}
.push {
  height: 150px;
}
.footer {
  height: 150px;
  background-color: #23395B;
}
.footer .footer-content {
  margin-left: 415px;
}
.body-content {
  padding: 15px 15px;
}
.sidebar-right {
  width: 35%;
  float: right;
  border: 1px solid gray;
}
.sidebar-right .sidebar-content {
  padding: 15px;
}
@media screen and (max-width: 800px) {
  .sidebar-right {
    width: auto;
    float: none;
  }
}
.main {
  width: 60%;
  float: left;
}
@media screen and (max-width: 800px) {
  .main {
    width: auto;
    float: none;
  }
}
/* Set padding to keep content from hitting the edges */
.container {
  max-width: 1150px;
  /*margin-left: 385px;*/
  margin-left: auto;
  margin-right: auto;
  *zoom: 1;
}
.container:before,
.container:after {
  display: table;
  line-height: 0;
  content: "";
}
.container:after {
  clear: both;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
  font-size: 16px;
  border: 1px solid #cccccc;
}
input:focus,
select:focus,
textarea:focus {
  outline: none;
  border-color: #406E8E;
}
input.input-validation-error,
select.input-validation-error,
textarea.input-validation-error {
  border-color: red;
}
textarea {
  height: 135px;
}
.c-button {
  text-decoration: none;
  cursor: pointer;
  border: none;
  color: #FFFFFF;
  background-color: #178200;
  padding: 12px 18px;
  display: inline-block;
  border-radius: 5px;
}
.c-button:hover {
  background-color: #25A50A;
}
.c-form input,
.c-form select,
.c-form textarea {
  box-sizing: border-box;
  width: 100%;
  padding: 5px 10px;
  line-height: 26px;
}
.c-form label {
  display: inline-block;
  padding: 5px 0;
}
.c-form .field,
.c-form .actions {
  margin-bottom: 25px;
}
.c-form .actions {
  *zoom: 1;
}
.c-form .actions:before,
.c-form .actions:after {
  display: table;
  line-height: 0;
  content: "";
}
.c-form .actions:after {
  clear: both;
}
.c-form .actions .c-button {
  width: 50%;
  float: right;
}
.banner {
  text-align: center;
  margin-top: 45px;
  margin-bottom: 60px;
  padding-bottom: 15px;
  border-bottom: 1px solid #bbbbbb;
}
.banner p {
  margin-bottom: 0;
}
.banner .actions {
  margin: 30px 0 15px 0;
}